@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    TPU IC<br />
    Lenin avenue, 2 <br />
    <abbr title="Phone">P:</abbr>
    22-44-88
</address>

