
@*@{
        ViewBag.Title = "Создание акции";
    } *@

<h2>Услуги(редактирование)</h2> 
@using (Html.BeginForm("Services", "Home", FormMethod.Post))
{
    <input type="hidden" value="@ViewBag.BookId" name="BookId" />
    <p>Введите название акции: </p>
    @Html.TextBox("name", "")
    <p>Введите срок действия:</p>
    @Html.TextBox("cost", "")
    <p>Кратко опишите акцию:</p>
    @Html.TextBox("description", "")
    <p><input type="submit" value="Отправить" /></p>
}
