
@{
    ViewBag.Title = "Работники";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Работники</title>
</head>
<body>
    <div>
        <h3>Наши мастера</h3>
        <table>
            <tr>
                <td><p>ФИО</p></td>
                <td><p>Специализация</p></td>
                <td><p>Моб.телефон</p></td>
                <td></td>
            </tr>
            @foreach (var p in ViewBag.Employees)
            {
                <tr>
                    <td><p>@p.fio</p></td>
                    <td><p>@p.jobProfile</p></td>
                    <td><p>@p.phone</p></td>
                    @*     <td><p><a href="/Home/Vote/@p.id">Голосовать</a></p></td> *@
                </tr>
            }
        </table>
    </div>
</body>
</html>
