@{
    ViewBag.Title = "Главная";
}

<body>
    <div class="container-fluid">
        <div class="jumbotron" style="background-color:#333">
            <h1>Автомастерская &laquo;У Иваныча&raquo;</h1>
            <p class="lead">
                Мы предоставляем своим клиентам широкий перечень услуг
                по ремонту и диагностики автомобилей.
            </p>
        </div>


        <div class="row">
            <div class="col-md-4" style="color:#ffffff">
                <h2>Услуги</h2>
                <p>
                    Чтобы ознакомиться с перечнем услуг, их описанием и  прайсом, нажмите на кнопку ниже &laquo;Перейти&raquo;
                </p>

                <p><a class="btn btn-default" href="/Services" style="color:#ffffff">Перейти &raquo;</a></p>
            </div>

            <div class="col-md-4" style="color:#ffffff">
                <h2>Наши мастера</h2>
                <p>Вы можете познакомиться с нашей рабочей силой, нажав на кнопку ниже &laquo;Перейти&raquo; </p>
                <p><a class="btn btn-default" href="/Employees" style="color:#ffffff">Перейти &raquo;</a></p>
            </div>
            <div class="col-md-4" style="color:#ffffff">
                <h2>Акции</h2>
                <p>В нашей автомастерской предусмотрены система скидок и акций. Чтобы ознакомиться с ними, нажмите кнопку ниже &laquo;Перейти&raquo;</p>
                <p><a class="btn btn-default" href="/Actias" style="color:#ffffff">Перейти &raquo;</a></p>
            </div>
        </div>
        </div>
        </body>